<style>
  /* The Modal (background) */
#image-modal .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
#image-modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
#image-modal .modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
#image-modal .close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#image-modal .close1:hover,
#image-modal .close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
#image-modal  .modal-content {
    width: 100%;
  }
}
</style>

<div class="row">

  <!---------------------------------->
                  <div  class="col-md-9">
                     <form class="form-inline"  enctype="multipart/form-data"  action="{% url 'addition_photo_link:AdditionPhotoView' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                           <div class="input-group">
                              <input type="hidden" name="business_id"  class="form-control" value="{{business_instance.id}}">
                              <input type="file" name="upload_images[]" multiple class="form-control" required>
                              <span class="input-group-addon" style="padding: 0 5px 0 5px; line-height: normal;">                                             
                              <button type="submit" name="submit" value="ok"  style="display: block;" class="add-btn">Add Photos</button>
                              </span>   
                           </div>
                        </div>
                     </form>


                  </div>

                    <div class="col-md-3" style="text-align: right;">
    <button class="add-btn" id="set_default_photo">Set as Default</button>
  </div>
                  <!---------------------------------->



  {% for data in photo_data %}
  
  <div class="col-md-3 img-div-pop">
  	<div class="input-show">

  	<input type="radio" class="form-control" {% if data.set_as_default == True %} checked {% endif %} name="default_photo" value="{{data.id}}">
  </div>
    <a href="javascript:imgpopup('{{data.id}}')">

      <img id="{{data.id}}" src="{{data}}" style="height: 150px; width: 150px;" alt="{{business_instance.name}}" title="{% if data.Post_id.Category_id%}{{data.Post_id.Category_id}}{% else %}Restaurant Photo{% endif %}"></a>
    
  </div>
  {% endfor %}
  
</div>

<div id="image-modal" class="modal">
  <span class="close1">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>




{% block script %}


<script>
  $(document).on("click","#set_default_photo",function(){
var radioValue = $("input[name='default_photo']:checked").val();

// alert(radioValue);

$.ajax({
  method:"GET",
  url :"/admin/addition-of-photo/set-as-default/"+radioValue,
  dataType:"html",

  success:function(data)
  {
    location.reload();
  }
});

});
</script>
{% endblock %}