{% extends "bestof-admin/base-template.html" %}
{% block content %}
{% load static %}
<!----------------COntent start-------------->
<section id="content-wrapper">
   <div class="container-fluid">
      <div class="row p-t-b-20">
         <div class="col-md-12">
            <div class="form-card no-b">
               <div class="login-form-card">
                  
                  <div class="add_category head-div mb-20">
                     <h3 class="add_name">Manage Delivery Partner</h3>
                     <a href="" class="add-btn"data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus mr-5"></i>Add  Partner</a>
                  </div>

                  <form action="/admin/manage-delivery-partner/edit/{{delivery_partner_data.id}}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}

              <div class="form-group">
                <label for="company">Name: </label> 
                {{delivery_partner_form.name}}

                <!-- <label>Email ID</label> -->
                <!-- <input type="text" class="form-control" name="email_id" value="{{csv_info.email_id}}" readonly=""> -->
              </div>

              <div class="form-group">
                <label for="company">Deep Link: </label> 
                {{delivery_partner_form.deep_link_url}}
                <!-- <label>Score</label> -->
                <!-- <input type="text" class="form-control" name="score_val" value="{{csv_info.socore}}"> -->
              </div>
        
              <div class="form-group" style="text-align:right; ">
              <button type="Submit" class=" text-center btn btn-primary">Update</button>
            </div>
          </form>

                              <div class="form-group">
    <label for="exampleFormControlFile1"> Change Logo</label>

    <div class="col-md-4 col-xs-12 box-img-currentProf">
                        <div class="icon-camera">
                            <i class="mdi mdi-camera"></i>
                        </div>
                        <img src='{{delivery_partner_data.logo.url}}' onclick="profile_change();" class="user-image" style="border: 1px solid black; width: 200px;height: 50px;" alt="Logo">

                        <input type="file" id="project_map_value" name="user_profile_photo" style="width: 200px; opacity: 0; position: absolute; top: 0px; overflow: hidden; left: 15px; height: 50px;" />                                   
                    </div>

  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- edit modal----->


<!------------------------------------------------------------>
   <!------------Delete messege Modal Popup Start------->
   
   <!--------------------Delete Message Modal Ends---------------->
   <!-- User profile croper modal start -->
<div id="uploadimageModal_edit" class="modal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title text-center">Upload & Crop Image</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-8 text-center">
                  <div id="image_demo_edit" style="height: auto;"></div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <div class="row">
               <div class="col-md-6" style="float: left;">
                  <div class="set_loader"></div>
                  <input type="hidden" id="partner_id" value="{{delivery_partner_data.id}}">
                  <button class="btn btn-success crop_image_edit" style="float: left;">Crop Image</button>
               </div>
               <div class="col-md-6"> 
                  <button type="button" style="float: right;" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</section>

{% endblock %}
{% block script %}
<script type="text/javascript">

$(document).on("click",".edit_question_group",function(){
var id = $(this).data("group_id");
$.ajax({
  method:"GET",
  url :"/admin/manage-delivery-partner/edit/"+id,
  dataType:"html",

  success:function(data)
  {
     $("#edit-partner .modal-body").html(data);
  }
});
});
</script>
<script type="text/javascript">

$(document).on("click",".edit_logo",function(){
var id = $(this).data("logo_id");
$.ajax({
  method:"GET",
  url :"/admin/manage-delivery-partner/edit-logo/"+id,
  dataType:"html",

  success:function(data)
  {
     $("#edit-partner-logo .modal-body").html(data);
  }
});
});
</script>
{% endblock %}